html {
	color: #000;
	background: #FFF
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td
	{
	margin: 0;
	padding: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

fieldset,img {
	border: 0
}

address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var
	{
	font: inherit
}

del,ins {
	text-decoration: none
}

li {
	list-style: none
}

caption,th {
	text-align: left
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal
}

q:before,q:after {
	content: ''
}

abbr,acronym {
	border: 0;
	font-variant: normal
}

sup {
	vertical-align: baseline
}

sub {
	vertical-align: baseline
}

legend {
	color: #000
}
/************************/
/* SECURED FILE MANAGER */
/************************/
* {
	border: 0 none;
	margin: 0;
	padding: 0;
}

body {
	font-size: 0.96em;
	font-family: verdana, helvetica, arial, sans-serif;
}

#blueBar {
	background-color: #3B5998;
	height: 51px;
}

/*******************************/
/* GLOBAL container definition */
/*******************************/
#globalContainer {
	width: 981px;
	margin: 0 auto;
	padding-top: 10px;
}

#globalHeader {
	border: 1px solid #1d4088;
	border-bottom: none;
	height: 40px;
	width: 100%;
	background-color: #627aad;
	color: white;
}

#globalHeaderTitle {
	float: left;
	font-size: 1.5em;
	padding: 5px 10px;
}

/**************************************/
/* GLOBAL SEARCH container definition */
/**************************************/
.globalHeaderSearch {
	float: left;
	padding: 7px 10px;
}

.globalHeaderSearchInput {
	border-right: none;
}

.globalHeaderSearchButtonContainer {
	height: 22px;
	margin-left: -5px;
	border: 1px solid #1d4088;
	border-left: none;
	display: inline-block;
	padding: 1px 0;
	background-color: white;
}

.globalHeaderSearchButton {
	height: 22px;
	width: 24px;
	vertical-align: middle;
	background-color: white;
	background-image: url("#{resource['images:search.gif']}");
	background-repeat: no-repeat;
	background-position: 0 3px;
	cursor: pointer;
	border: none;
	border-left: 1px solid #CCC;
}

/********************************************/
/* USER AUTHENTICATION container definition */
/********************************************/
.globalHeaderAuthentication {
	float: right;
	padding: 7px 10px;
}

.globalHeaderInput {
	height: 22px;
	line-height: 20px;
	padding: 0 3px;
	vertical-align: middle;
	font-size: 1em;
	border: 1px solid #1d4088;
	padding-top: 2px;
	color: #333;
}

.globalHeaderInputLabel {
	font-size: 0.8em;
	margin: 0 5px 0 10px;
}

.globalHeaderConnectionButtonContainer {
	height: 22px;
	border: 1px solid #1d4088;
	display: inline-block;
	padding: 0;
}

.globalHeaderConnectionButton {
	height: 22px;
	vertical-align: middle;
	cursor: pointer;
	padding: 0 7px;
	color: white;
	background-color: #3B5998;
	border-top: 1px solid #98A9CA;
	font-weight: bold;
}

.globalHeaderUsernameLabel {
	font-weight: bold;
	padding: 0 10px;
}

.globalHeaderLink {
	color: white;
	padding: 0 5px;
	text-decoration: none;
}

.globalHeaderLink:link,.globalHeaderLink:visited {
	text-decoration: none;
}

.globalHeaderLink:active,.globalHeaderLink:hover {
	text-decoration: underline;
}

#globalContent {
	width: 100%;
	margin: auto;
	background-color: #FFFFFF;
	clear: both;
	border: 1px solid #b3b3b3;
	border-top: none;
}

#globalFooter {
	background-color: #FFFFFF;
	clear: both;
	margin: auto;
	width: auto;
	margin-bottom: 30px;
	padding: 10px;
}

#globalFooterGenerationMetadata {
	color: gray;
	font-size: 0.8em;
	float: right;
}

/**********************************/
/* RESOURCES container definition */
/**********************************/
#resourcesContainer {
	padding: 10px;
}

#resourcesHeader {
	padding: 10px 0;
}

#resourcesTitle {
	font-weight: bold;
	color: #333;
}

#resourcesActionBar {
	border: 1px solid red;
	float: right;
}

#resourcesContent {
	padding: 5px 0;
	border-top: 1px solid #b3b3b3;
}

.resourcesDatagrid {
	border-collapse: collapse;
	width: 100%;
}

.resourcesDatagrid th {
	padding: 0 10px;
	text-align: center;
	font-weight: normal;
	font-style: italic;
}

.resourcesDatagrid a {
	text-decoration: none;
	color: black;
}

.resourcesDatagrid a:hover {
	text-decoration: underline;
	color: blue;
}

.resourcesDatagrid a.parent {
	background-image: url("#{resource['images:parent.png']}");
}

.resourcesDatagrid a.directory {
	background-image: url("#{resource['images:folder.png']}");
}

.resourcesDatagrid a.file {
	background-image: url("#{resource['images:page_white_text.png']}");
}

.resourcesDatagrid a.parent,.resourcesDatagrid a.directory,.resourcesDatagrid a.file
	{
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: left center;
	display: block;
	padding: 1px 0 1px 20px;
}

.resourcesDatagrid td {
	padding: 0 10px;
}

.resourceNameColumn {
	width: 200px;
	text-align: left;
}

.resourceSizeColumn {
	width: 100px;
	text-align: right;
}

.resourceModificationDateColumn {
	width: 160px;
}

.resourceDescriptionColumn {
	width: 500px;
}

.resourceSelectedColumn {
	
}

.resourceModificationDateColumn,.resourceDescriptionColumn {
	text-align: center;
}