      * {
        border: 0 none;
        margin: 0;
        padding: 0;
      }
      
      body {
        font-size: 0.96em;
        font-family: verdana, helvetica, arial, sans-serif;
      }
    
      #blueBar {
        background-color: #3B5998;
        height: 51px;
      }
    
      /*******************************/
      /* GLOBAL container definition */
      /*******************************/
    
      #globalContainer {
        width: 981px;
        margin: 0 auto;
        padding-top: 10px;
      }
      
      #globalHeader {
        border: 1px solid #1d4088;
        border-bottom: none;
        height: 40px;
        width: 100%;
        background-color: #627aad;
        color: white;
      }
      
      #globalHeaderTitle {
        float: left;
        font-size: 1.5em;
        padding: 5px 10px;
      }

      #globalHeaderSearch {
        float: left;
        padding: 7px 10px;
      }
      
      #globalHeaderSearchInput {
        border-right: none;
      }

      #globalHeaderSearchButtonContainer {
        height: 22px;
        margin-left: -5px;
        border: 1px solid #1d4088;
        border-left: none;
        display: inline-block;
        padding: 1px 0;
        background-color: white;
      }
      
      #globalHeaderSearchButton {
        height: 22px;
        width: 24px;
        vertical-align: middle;
        background-color: white;
        background-image: url("images/search.gif");
        background-repeat: no-repeat;
        background-position: 0 3px;
        cursor: pointer;
        border: none;
        border-left: 1px solid #CCC;
      }
      
      #globalHeaderAuthentication {
        float: right;
        padding: 7px 10px;
      }
      
      .globalHeaderInput {
        height: 22px;
        line-height: 20px;
        padding: 0 3px;
        vertical-align: middle;
        font-size: 1em;
        border: 1px solid #1d4088;
        padding-top: 2px;
        color: #333;
      }
      
      .globalHeaderInputLabel {
        font-size: 0.8em;
        margin-left: 10px;
      }
      
      #globalHeaderConnectionButtonContainer {
        height: 22px;
        border: 1px solid #1d4088;
        display: inline-block;
        padding: 0;
      }
      
      #globalHeaderConnectionButton {
        height: 22px;
        vertical-align: middle;
        cursor: pointer;
        padding: 0 7px;
        color: white;
        background-color: #3B5998;
        border-top: 1px solid #98A9CA;
        font-weight: bold;
      }
            
      #globalContent {
        width: 100%;
        margin: auto;
        background-color: #FFFFFF;
        clear: both;
        border: 1px solid #b3b3b3;
        border-top: none;
      }

      #globalFooter {
        background-color: #FFFFFF;
        clear: both;
        margin: auto;
        width: auto;
        margin-bottom: 30px;
        padding: 10px;
      }
      
      #globalFooterGenerationMetadata {
        color: gray;
        font-size: 0.8em;
        float: right;
      }

      /**********************************/
      /* RESOURCES container definition */
      /**********************************/

      #resourcesContainer {
        padding: 10px;
      }
      
      #resourcesHeader {
        padding: 10px 0;
      }

      #resourcesTitle {
        font-weight: bold;
        color: #333;
      }

      #resourcesContent {
        padding: 5px 0;
        border-top: 1px solid #b3b3b3;
      }
      
      .resourcesDatagrid {
        border-collapse : collapse;
        width: 100%;
      }

      .resourcesDatagrid th {
        padding: 0 10px;
        text-align: center;
        font-weight: normal;
        font-style: italic;
      }
      
      .resourcesDatagrid a {
        text-decoration: none;
        color: black;
      }
      
      .resourcesDatagrid a:hover {
        text-decoration: underline;
        color: blue;
      }

      .resourcesDatagrid a.parent {
        background-image: url(images/parent.gif);
      }

      .resourcesDatagrid a.directory {
        background-image: url(images/folder.gif);
      }
      
      .resourcesDatagrid a.file {
        background-image: url(images/file.gif);
      }

      .resourcesDatagrid a.parent, .resourcesDatagrid a.directory, .resourcesDatagrid a.file {
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: left center;
        display:block;
        padding:1px 0 1px 16px;
      }

      .resourcesDatagrid td {
        padding: 0 10px;
      }

      .resourceNameColumn {
        width: 200px;
        text-align: left;
      }
      
      .resourceSizeColumn {
        width: 100px;
        text-align: right;
      }
      
      .resourceModificationDateColumn {
        width: 160px;
      }
      
      .resourceDescriptionColumn {
        width: 500px;
      }
      
      .resourceModificationDateColumn, .resourceDescriptionColumn {
        text-align: center;
      }
